.note-list{
    background-color: var(--bg);
    flex-grow: 3;
    display: list-item;
    /*grid-template-columns: auto auto auto auto auto;*/
    list-style-type: none;
    padding-left: 12px;
    padding-top: 12px;

}

.note-list_item {
    margin: 12px;
    max-width: fit-content;
    max-height: auto;
    display:inline;
    text-align: justify;
    word-break: break-all;
    


}

